.category {
    padding-left: 15px;

    h4 {
        font-size: 12px;
        font-weight: 700;
        color: $blue;
        text-transform: uppercase;
    }

    .category__info {
        padding: 15px 0;
        border-bottom: 2px solid #eee;

        .category__name {
            margin-bottom: 5px;

            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: $black;
        }
    }
}

.category__select {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;

    span {
        font-size: 18px;
        color: $black;
    }
}