.footer {
  padding: 50px 0;
  background: #181717;

  .footer__info {
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    padding-bottom: 50px;
    margin-bottom: 30px;
  }

  .footer__recent-posts {
    margin-bottom: 25px;

    h4 {
      font-size: 15px;
      font-weight: 700;
      color: $dark-silver;
      text-transform: uppercase;
    }

    .footer__recent-post__info {
      padding: 15px 0;
      border-bottom: 1px solid rgba(238, 238, 238, 0.1);

      .footer__recent-post__title {
        margin-bottom: 5px;

        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: $white;
      }

      .footer__recent-post__date {
        font-size: 10px;
        font-weight: 700;
        color: $silver;
        text-transform: uppercase;
      }
    }

    .footer__recent-post__info:last-child {
      border-bottom: 0;
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;

    h4 {
      padding-bottom: 15px;

      font-size: 15px;
      font-weight: 700;
      color: $dark-silver;
      text-transform: uppercase;
    }

    .footer__nav-link {
      margin-bottom: 10px;

      font-size: 14px;
      font-weight: 700;
      color: $white;
    }
  }

  .footer__categories {
    margin-bottom: 25px;

    h4 {
      padding-bottom: 15px;

      font-size: 15px;
      font-weight: 700;
      color: $dark-silver;
      text-transform: uppercase;
    }

    .footer__categories-content {
      display: flex;
      flex-wrap: wrap;

      .footer__categories-item {
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 10px 15px;

        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;

        border: 1px solid $white;

        transition: all 0.2s linear;

        &:hover {
          color: $black;

          background: $white;
        }
      }
    }
  }

  h4 {
    padding-bottom: 15px;

    font-size: 15px;
    font-weight: 700;
    color: $dark-silver;
    text-transform: uppercase;
  }

  .footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: $white;

    h4 {
      padding-bottom: 15px;

      font-size: 15px;
      font-weight: 700;
      color: $dark-silver;
      text-transform: uppercase;
    }
  }
}

.copyright {
  text-align: center;

  .copyright__text {
    font-size: 13px;
    font-weight: 600;
    color: $silver;
    text-transform: uppercase;

    span {
      color: $blue;
    }
  }
}
